@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body {
	background: $space-black;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;

	a {
		color: white;
		text-decoration: none;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: $color-green;
		}
	}
}

#globalNav {
	z-index: 99;
	background: $space-black;
	position: fixed;

	bottom: 0;
	right: 	0;
	left: 	0;

	padding: $general-padding;

	ul {
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0 $general-padding;
		}
	}
}

// ThreeJS Canvas

.sceneCanvas {
	width: 100vw;
	height: 100vh;
}

// Mp3 Player

#mp3_player {
	position: fixed;
	bottom: 50px;
	left: 0;
	right: 0;
	#analyser_render {
		height: 0;
		display: none;
	}
	audio {
		width: 100%;
	}
}
