// COLORS AND MORE COLORS

$space-black:				rgba(0, 0, 0, 1);
$color-green: 			rgba(120, 230, 0, 1);

// SPACING

$mini-padding: 			5px;
$half-padding: 			10px;
$general-padding: 	20px;
$large-padding: 		30px;
$double-padding: 		40px;