<div class="container">
	<h1>PHYSICS</h1>
	<div class="display">
		<label>HOW MANY BALLS TO DROP: </label>
		<button id="drop">Drop Balls</button> <input type="text" id="total"></input>
		
		<p><label>TOTAL BALLS OUT: </label><span id="balls"></span></p>
		<label>STOP EM: </label><button id="obsticles">Create Obsticles</button>
	
</div>
	
<%= react_component('PhysicsRoom') %>
